@model Info.DAL.News

@{
    ViewBag.Title = "Modifier";
}

<form method="post" action="~/Membre/CrudNews/Modifier">
    <input type="text" value="@Model.TitreNews" name="TitreNews" class="partform" />
    <br/>
    <textarea name="InfoNews" class="partform">@Model.InfoNews</textarea>
    <br/>
    <input type="text" value="@Model.ImageNews" class="partform" name="ImageNews" />
    <br/>
    <input type="hidden" value="@Model.IdNews" name="idNews" />
    <input type="hidden" value="@Model.DateNews" name="DateNews"/>
    <input type="text" value="@Model.IdJournalist" class="partform" name="idJournalist" />
    <br/>
    <input type="submit" value="Enregistrer" class="btn" />

</form>