@model MVCNews.Models.JournalistNews

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Nouvelle.TitreNews</h2>
<div id="article">
    <img src="~/Content/images/@Model.Nouvelle.ImageNews" alt="" style="width:600px;"/>
    <p class="justifie">@Model.Nouvelle.InfoNews</p>
    <p><span>Ecrit par @Model.Auteur.NameJournalist @Model.Auteur.FirstNameJournalist le @Model.Nouvelle.DateNews.ToShortDateString()</span></p>
</div>